.dial-container {
    text-align: center;
    margin-bottom: 20px;
}

.value-container {
    /*margin-top: 10px;*/
}

input[type="range"] {
    width: 500px;
    margin: 20px 0;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;   /* Width from blue circle */
    height: 20px;  /* Height from blue circle */
    background: #007BFF;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;   /* This is the center of the blue circle */
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: #007BFF;
    border-radius: 50%;
    cursor: pointer;
}

input[type="number"] {
    width: 80px;   /* Width from text box */
    text-align: right;
}